fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
alembic
redis
kafka-python
numpy
pandas
scikit-learn
joblib
httpx
openai
langchain
langchain-community
chromadb
sentence-transformers
python-multipart
passlib[bcrypt]
python-jose